@use "./mixins" as mixins;
@use "./variables" as vars;


.cardWithBackground {
  background-color: #f3f1fc;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 8px;
}

.cardWithBorder {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 8px;
  border: vars.$light-border;
}

.pagePaddings {
  padding-top: 1.5em;
  padding-bottom: 30px;
  @include mixins.respond-to("big-tablet") {
    padding-top: 1.5em;
  }
}

.borderBottom {
  border-bottom: vars.$light-border;
}

.borderTop {
  border-top: vars.$light-border;
  &Purple {
    border-color: vars.$purple-color;
  }
}

.rowSpaceBetween {
  display: flex;
  justify-content: space-between;
}

.pageColumnGaps {
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.subTitle {
  display: flex;
  flex-direction: column;
  background: #f7f7fb;
  padding: 1px 2px;
}   
.pageHeaders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 10px 20px;
  flex-wrap: wrap;
  background: #f7f7fb;
}

.errorMessage {
  font-size: 13px;
  visibility: hidden;
  display: flex;
  margin-top: 2px;
  min-height: 15px;

  &.show {
    visibility: visible;
  }
}

@mixin statusBlock {
  display: block;
  border-radius: 8px;
  padding: 7px 16px;
  min-width: 100px;
  max-width: fit-content;
  font-size: 12px;
  text-align: center;
  background: #c5c5c5;
}

.statusBlock {
  @include statusBlock();
}

.statusBlock--pending {
  @include statusBlock();
  background: vars.$light-yellow;
  color: vars.$dark-yellow;
}


.statusBlock--failed {
  @include statusBlock();
  color: vars.$danger-color;
  background: vars.$light-danger;
}

.statusBlock--purple {
  @include statusBlock();
  color: vars.$purple-color;
  background: vars.$secondary-bg;
}

.bottomButtonCover,
.fixedbottomButtonCover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  & > button,
  & > div {
    order: 1;
    &:first-child {
      @include mixins.respond-to("mobile") {
        order: 2;
      }
    }
  }
}


.gridDetailsView {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
}

.responsiveGrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}