.reward-heading {
  margin: 0.75rem 0;
  color: #000;
  font-weight: 600;
  padding-left: 0.75rem;
  border-left: 3px solid #9301fe;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 1rem;
  }
}
