@use "../../../assets/styles/base/variables" as vars;

.password-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__input-section {
    height: 40px;
    border: 1px solid #EDE9FE;
    border-radius: 4px;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #fff;

    &:hover {
      border-color: vars.$border-color;
       box-shadow: 0,0,0 3px rgba(124,58,237,0.1);
    }

    &:focus-within {
      border-color: vars.$border-color;
      box-shadow: 0,0,0 3px rgba(124,58,237,0.1);
      outline: none;
    }

    &.error-border {
      border-color: vars.$danger-color;
    }

    input {
      height: 100%;
      border: none;
      outline: none;
      flex: 1;
      padding: 0 1em;
      background: #fff;
    }

    div {
      flex-grow: 0.08;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 0;
      cursor: pointer;
    }
  }

  .error-message {
    font-size: 13px;
    visibility: hidden;
    display: flex;
    margin-top: 2px;
    min-height: 15px;

    &.show {
      visibility: visible;
    }
  }
}
