@use "../../../assets/styles/base/variables" as vars;
@use "../../../assets/styles/base/mixins" as mixins;
@use "sass:color" as color;

.btn {
  height: 48px;
  font-weight: normal;
  padding: 0px 25px;
   border-radius: 5px;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  outline: none !important;
  box-shadow: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
  flex-shrink: 1;
  @include mixins.respond-to("tablet") {
    height: 42px;
    padding: 0 17px;
  }
  &.cover {
    width: 100%;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.btn--primary {
  background-color: vars.$purple-color;
  color: vars.$white-color;
  border-radius: 25px;
  border: none !important;
  font-size: 16px;

  &:disabled {
    cursor: not-allowed;
    background-color: color.adjust(#D1D5DB, $lightness: -6%);
  }
  &:not(:disabled):hover {
    background-color: color.adjust(#6D28D9, $lightness: -1%);
  }
}

.btn--success {
  background-color: vars.$success-color;
  color: vars.$white-color;

  &:disabled {
    cursor: not-allowed;
    background-color: color.adjust(#D1D5DB, $lightness: 6%);
  }
}

.btn--outline {
  background-color: vars.$white-color;
  color: vars.$dark-color;
  border: 0.001px solid #EDE9FE;
  font-size: 12px;
  &:hover {
       background-color: #F5F3FF;
    }
}

.smallBtn {
  height: 32px;
  padding: 0 15px;
  font-size: 12px;
}
