@use "../../assets/styles/base/variables" as vars;
@use "../../assets/styles/base/mixins" as mixins;

.login-layout {
  width: 100%;
  height: 100%;
  padding: 50px 5%;
  background-color: vars.$purple-color;
  position: absolute;
  overflow: auto;

  &__content {
    margin-top: 10%;
    padding: 50px 0px;
    @include mixins.respond-to("mobile") {
    padding: 50px 0px;
    }
  }
}
